{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1>Inventory</h1>
    <p>Here you can see the list of the items in the inventory.</p>
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
            {% for item in object_list %}
    
            <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td><a href="{% url 'delete_ingredient' item.id %}">Delete</a></td>
            <td><a href="{% url 'update_ingredient' item.id %}">Update</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td><a href="{% url 'add_ingredient' %}">ADD INGREDIENT</a></td>
            </tr>
            <tr><td><a href="{% url 'logout' %}">LOGOUT</a></td></tr>
        </tbody>
    </table>
{% endblock %}