{% extends 'base.html' %}

{% block content %}
    <h1>Menu Item</h1>
    <table>
        <tr>
            <th>Menu Item</th>
            <th>Price</th>
            <th>Add recipe requirements</th>
        </tr>
        {% for item in object_list %}

        <tr>
            <td>{{ item.name }}</td>
            <td>{{ item.price }}</td>
            <td><a href="{% url 'add_recipe_requirements' item.id %}">Add</a></td>
        </tr>
        {% endfor %}
        <td>
            <a href="{% url 'add_menu_item' %}">ADD MENU ITEM</a>
        </td>
    </table>
    
{% endblock %}