{% extends 'base.html' %}

{% block content %}
    <h1>Purchase</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Menu Item</th>
            <th scope="col">Quantity</th>
            <th scope="col">Date of the purchase</th>
            <th scope="col">Total price</th>
        </tr>
        </thead>
        {% for item in object_list %}
        <tbody>
        <tr>
            <td>{{ item.menu_item.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.timestamp }}</td>
            <td>{{ item.total_price }}</td>
        </tr>
        {% endfor %}
         <tr><td><a href="{% url 'add_purchase' %}">Add new Purchase</a></td></tr>
        </tbody>
    </table>
{% endblock %}